@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  color: var(--color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  position: relative;
  z-index: 2; /* Toutes les sections ont un niveau d'empilement par défaut */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* nav bar */

.violet-gradient {
  /*background: transparent !important;
  backdrop-filter: blur(3px); Ajoute un flou à l'arrière-plan 
  background-color: rgba(255, 255, 255, 0.2); */
  background-color: #a64003;
  border-radius: 0px 0px 40px 0px;
  border-bottom: 1px solid #ffffff !important;
  z-index: 1000;
}

/* HOME */

#Launcher {
height: auto;
min-height: 100vh;
border-radius: 0px 0px 75px 0px;
background-image: url('../public/images/background.jpg');
background-size: cover; /* Remplit la div tout en conservant le ratio de l'image */
background-position: center; /* Centre l'image */
background-repeat: no-repeat; /* Évite la répétition de l'image */
}

.head {
  color: white;
  width: 50%;
  position: relative;
  left: 2%;
}

.word-animation .prenom-1{
  color: #0183b8;
}

.word-animation .prenom-2{
  color: #FFDD87;
}

.creer, .cree{
  font-weight: 300;
  font-size: 28px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  color: var(--color);
  margin-bottom: 15px; /* Espace entre les paragraphes */
  line-height: 1.5;
}

.cree{
  position: relative;
  display: flex;
  gap: 5px;
}

.h-text{
  font-size: 40px;
  font-weight: 500;
  color: white;
}

.h-text {
  margin-bottom: 1rem; /* Ajustez la valeur en fonction de l'espace souhaité */
}

.word-animation{
  position: relative;
  left: 5px;
  font-weight: 500;
}

.word-animation span {
  margin-right: 0.8rem; /* Espace à droite de chaque `span` */
}

/* animation pour faire defiler les mots de hauts en bas
.word-animation{
  height: 35px;
  overflow: hidden;
  position: relative;
  left: 5px;
  font-weight: 500;
}

.word-animation span{
  display: block;
  color: rgb(255, 255, 255);
  animation: rotateSpin 5s infinite;
}

@keyframes rotateSpin {
  10% {
    -webkit-transform: translateY(-102%);
    transform: translateY(-102%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-202%);
    transform: translateY(-202%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-302%);
    transform: translateY(-302%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-402%);
    transform: translateY(-402%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}*/

#navbar-default a {
  color: #fff;
  text-align: center;
  text-decoration: none;
  position: relative;
}

#navbar-default a::after {
  content: '';
  position: absolute;
  width: 70%;
  right: 8px;
  bottom: 0;
  margin-top: 5px;
  height: 2px;
  background: white;
  transform: scaleX(0);
  transition: 0.3s transform ease-in-out;
}

#navbar-default a:hover::after {
  transform: scaleX(1);
}


/* bouton*/
.btn {
  --color: #ffffff;
  --color2: rgb(10, 25, 30);
  padding: 0.8em 1.75em;
  background-color: transparent;
  border: .3px solid var(--color);
  border-radius: 3px;
  transition: .5s;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 10px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  color: var(--color);
 }

 .btn-a {
  position: relative;
  left: 2%;
 }	
 
 .btn::after, .btn::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--color);
 }
 
 .btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
 }
 
 .btn:hover {
  color: var(--color2);
 }
 
 .btn:active {
  filter: brightness(.7);
  transform: scale(.98);
 }
/* fin bouton */

/* Animation de dégradé */
@keyframes gradient-animation {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}

/* Animation de typewriter pour le nom */
.animate-typewriter {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #fff;
  animation: typing 2s steps(15) forwards;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

.heading {
  font-size: 26px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease forwards;
  animation-delay: 2s; /* Délai initial avant le début de l'animation */
}

.pulse {
  font-size: 18px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease forwards;
  animation-delay: 2s; /* Délai initial avant le début de l'animation */
  position: relative;
  top: 20px;
}

.heading p {
  margin-bottom: 1rem; /* Ajustez la valeur en fonction de l'espace souhaité */
}

/* Classes de délai pour chaque ligne */
.delay-1 { animation-delay: 3s; }
.delay-2 { animation-delay: 4.2s; }
.delay-3 { animation-delay: 7.4s; }
.delay-4 { animation-delay: 8.6s; }
.delay-5 { animation-delay: 9.8s; }
/* FIN HOME */

/* WHO */

#Who{
  height: auto;
  min-height: 80vh;

}

.ident{
  margin: 1%;
  background-color: transparent;
  background-image: linear-gradient(53deg, #FFF4F0 0%, #EDE7FE 100%);
  border-radius: 25px;
  position: relative;
  top: 70px;
  height: 80vh;
  display: flex; /* Utilise flexbox pour le conteneur */
  justify-content: space-between; /* Espace entre les éléments */
  align-items: flex-start; /* Aligne les éléments en haut */
}

.ma-class{
  border-radius: 20px;
  width: 30%;
  height: 500px;
  position: absolute;
  left: 5%;
  bottom: 26%;
  z-index: 1;
}

.side-1 {
  flex: 0 0 40%; /* Prend 40% de la largeur, ajuste selon tes besoins */
}

.side-2 {
  flex: 0 0 55%; /* Prend 55% de la largeur, ajuste selon tes besoins */
  position: relative;
  top: 12%;
  right: 2%;
}

.side-2 h2{
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  font-size: 30px;
}

.side-2 .degrade{
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.degrade{
  background: linear-gradient(45deg, #FF0054 0%, #390099 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* From Uiverse.io by vinodjangid07 */ 
.Documents-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  height: 45px;
  border: none;
  padding: 0px 15px;
  border-radius: 5px;
  background-color: rgb(49, 49, 83);
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s;
  position: relative;
  top: 15px;
}
.folderContainer {
  width: 40px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.fileBack {
  z-index: 1;
  width: 80%;
  height: auto;
}
.filePage {
  width: 50%;
  height: auto;
  position: absolute;
  z-index: 2;
  transition: all 0.3s ease-out;
}
.fileFront {
  width: 85%;
  height: auto;
  position: absolute;
  z-index: 3;
  opacity: 0.95;
  transform-origin: bottom;
  transition: all 0.3s ease-out;
}
.text {
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.Documents-btn:hover .filePage {
  transform: translateY(-5px);
}
.Documents-btn:hover {
  background-color: rgb(58, 58, 94);
}
.Documents-btn:active {
  transform: scale(0.95);
}
.Documents-btn:hover .fileFront {
  transform: rotateX(30deg);
}

/* fin bouton */

/* FIN WHO */

/* ETUDES */
#Etudes{
  height: auto;
  min-height: 80vh;
  background-color: transparent;
  background-image: linear-gradient(257deg, #FFFFFF 0%, #EDE7FE 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px 0px 0px 0px;
  border-top: 1px solid transparent;
}

.e-box{
  width: 70%;
  margin-left: 15%;
  margin-top: 2%;
}

.e-col-1, .e-col-2{
  flex: 0 0 50%;
  padding: 20px;
  min-height: 30vh;
  margin-top: 5%;
  border: 1px solid #e8e5e5;
  background-color: white;
  border-radius: 10px;
}

.e-col-3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px;
  font-size: 15px;
}

.m-class{
  max-width: 90%; /* L'image ne dépassera pas les limites du conteneur */
  height: auto;
}

.mon-text{
  width: 90%;
  position: relative;
  top: 80px;
}

.e-size{
  font-size: 35px;
}

/* FIN ETUDES */

/* ECOLE */

#Ecole{
height: auto;
min-height: 85vh;
}

.i-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.i-size{
  width: 75%;
  font-size: 15px;
  margin-left: 14%;
}

/* FIN ECOLE */

/* COMPETENCES */

#Competences{
  height: auto;
  min-height: 80vh;
  background-color: transparent;
  background-image: linear-gradient(257deg, #EDE7FE 0%, #FFFFFF 100%);
  margin-top: 10px;
  border-radius: 25px 20px 0px 0px;
  padding: 2rem;
  text-align: center;
}

.section-title {
  color: #333;
  margin-bottom: 2rem;
  position: relative;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s forwards;
}

.skills-container {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-around;
  gap: 1.5rem;
}

.skill {
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: scale(0.9);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.skill:hover {
  transform: scale(1);
  background-color: #e0e0e0;
}

.stars {
  color: #ffd700;
  font-size: 1.2rem;
  margin-top: 1rem;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}




/* FIN COMPETENCES */

/* Realisations */

#Realisations{
  height: auto;
  min-height: 80vh;
  background-color: transparent;
  background-image: linear-gradient(257deg, #FFFFFF 0%, #EDE7FE 100%);
  margin-top: 10px;
  border-radius: 25px 20px 0px 0px;
  padding: 2rem;
  text-align: center;
}

/* FIN FACTS */

/* CONTACT */

#Contact{
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  color: var(--color);
  height: auto;
  min-height: 80vh;
  background-color: transparent;
  background-image: linear-gradient(257deg, #a64003 0%, #ff7f2a 100%);
  border-radius: 40px 0px 0px 0px;
}

.outer-container {
  height: 685px;
  color: white;
}

.new-text{
  font-weight: 400;
  font-size: 20px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  color: var(--color);
  margin-top: -35px;
  z-index: 1;
  background: linear-gradient(45deg, #FF0054 0%, #390099 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.section-contact{
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.contact-subtitle {
  text-align: center;
  margin: 70px 0px 70px;
  line-height: 50px;
}

.contact-s{
  margin-bottom: 25px;
}

.contact-t{
  font-size: 22px;
  margin-bottom: 10px;
}

.contact-box {
  width: 24%;
  text-align: center;
  padding: 30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.contact-box .text {
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  color: var(--color);
  font-weight: 700;
  font-size: 20px;
}

.contact-box i {
  font-size: 60px;
  padding-bottom: 30px;
}

.meet p {
  color: #707070;
  padding-top: 20px;
  line-height: 23px;
}

.sticky .card.contact-box.email {
  width: 35%;
}

.sticky .card {
  transition: transform 0.3s; 
}

.sticky .card:hover {
  transform: scale(1.2); 
}

.sticky {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
  margin: 16px 164px 10px 105px;
  color: black !important;
}

.card {
  width: 250px;
  height: 150px;
  background: #fbfbfb;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
}
.card p {
  z-index: 1;
  color: black; 
  font-size: 1em;
}

.card .fcolor {
  z-index: 1;
  font-size: 2em;
  margin:10px;
}

.card .text {
  z-index: 1;
  font-size: 1em;
  margin-top: -15px;
}

.card::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, #FF0054, #390099);
  height: 305%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

.move{
  position: relative;
  right: 25px;
}

.fa-envelope{
  color: #1a84d1;
}

.fa-map-marker{
  color: red;
}

.fa-mobile{
  color: grey;
}

@keyframes rotBGimg {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}

.card::after {
  content: '';
  position: absolute;
  background: WHITE;
  inset: 5px;
  border-radius: 15px;
}   

/* end contact */

/* FOOTER */

.bg{
  background-color: #281659;
}


/* FIN DE FOOTER */
